/* context menu */
.contextMenu {
  font-family: sans-serif;
  font-size: 0.925rem;
  user-select: none;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 6px;
  min-width: 10rem;
  background-color:black;
  color:white;
}
.contextMenu li {
  border-radius: 6px;
  padding: 0.375rem 0.625rem;
  list-style: none;
}
.contextMenu li:hover {
  color: #fff;
  background-color: #59a2ff;
}