
//header class
.headerClass {
  width:100%;
}
.headerClass_dark {
  background-color: black;
}
.headerClass_light {
  background-color: rgb(223, 223, 223);
}
.headerClass_neo {
  background-color: black;
}

.menuContainer {
  display:flex;
}

.szh-menu {
  font-family: sans-serif;
  font-size: 0.925rem;
  user-select: none;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  padding: 6px;
  min-width: 10rem;
  background-color:black;
  color:grey;

  &--state-opening {
    animation: szh-menu-show 0.15s ease-out;
  }

  &--state-closing {
    animation: szh-menu-hide 0.2s ease-out forwards;
  }

  &__item {
    border-radius: 6px;
    padding: 0.375rem 0.625rem;
    &--hover {
      color: #fff;
    }
    &--submenu {
      position: relative;
      &::after {
        position: absolute;
        width: 7px;
        right: 0.625rem;
      }
    }
  }

  &__divider {
    margin: 0.5rem 0.625rem;
  }
}

//menu btn
.szh-menu-button{
  height:5vh;
  border-width:0px;
  padding-left:10px;
  padding-right:25px;
  font-size: 1.2em;
  font-family: Display, sans-serif;
}
.menu-btn-dark{
  background-color: black;
  color: #cad1d8;
}
.menu-btn-light{
  background-color: rgb(223, 223, 223);
  color: #242424;
}
.menu-btn-neo{
  background-color: black;
  color: #00c431;
}
.menu-btn-dark:hover{
  background-color:rgb(17, 17, 17);
}
.menu-btn-light:hover{
  background-color: rgb(204, 204, 204);
}
.menu-btn-neo:hover{
  background-color: rgb(17, 17, 17);
}
@keyframes szh-menu-show {
  from {
    opacity: 0;
  }
}
@keyframes szh-menu-hide {
  to {
    opacity: 0;
  }
}