/* containers and wrappers */
.bigwrapper {
  display:flex;
  height:100%;
  flex-direction: column;
}
.reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}
.viewEditContainer{
  display:flex;
  width:100%;
  height:100%;
  flex-grow:1;
}

/* react flow */
.react-flow {
  --bg-color: rgb(17, 17, 17);
  --text-color: rgb(243, 244, 246);
  --node-border-radius: 10px;
  --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3), -10px 0 15px rgba(233, 42, 103, 0.3);
  color: var(--text-color);
}
.rfbg-dark{
  background-color: rgb(17, 17, 17);
}
.rfbg-light{
  background-color:antiquewhite;
}
.rfbg-neo{
  background-color: rgb(10, 10, 10);
}

/* edge paths */
.react-flow__edge .react-flow__edge-path {
  stroke: url(#edge-gradient);
  stroke-width: 2;
  stroke-opacity: 0.75;
}
.react-flow__edge .react-flow__edge-path-dark {
  stroke: url(#edge-gradient);
  stroke-width: 2;
  stroke-opacity: 0.75;
  fill: none;
}
.react-flow__edge .react-flow__edge-path-neo {
  stroke: #00ff0d;
  stroke-width: 2;
  stroke-opacity: 0.75;
  fill: none;
}
.react-flow__edge .react-flow__edge-path-light {
  stroke: #97008b;
  stroke-width: 2;
  stroke-opacity: 0.75;
  fill: none;
}


.react-flow__attribution {
  background: rgba(200, 200, 200, 0.2);
}
.react-flow__attribution a {
  color: #95679e;
}